*.tmp
*.ldb
/cmh/webapp/nbproject/private/
/cmh/testlib/nbproject/private/
/cmh/testlib/build/
/cmh/WebApplication1/nbproject/private/
/cmh/webapplib/nbproject/private/
/cmh/webapplib/build/

*.LDB
/cmh/webapplib/dist/
/cmh/servPago/nbproject/private/