<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Router</servlet-name>
        <servlet-class>cl.cheekibreeki.cmh.webapp.servlet.Router</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>cl.cheekibreeki.cmh.webapp.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>cl.cheekibreeki.cmh.webapp.servlet.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Nav</servlet-name>
        <servlet-class>cl.cheekibreeki.cmh.webapp.servlet.Nav</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>cl.cheekibreeki.cmh.webapp.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agendamiento</servlet-name>
        <servlet-class>cl.cheekibreeki.cmh.webapp.servlet.Agendamiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizar</servlet-name>
        <servlet-class>cl.cheekibreeki.cmh.webapp.servlet.Actualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agendar</servlet-name>
        <servlet-class>cl.cheekibreeki.cmh.webapp.servlet.Agendar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Router</servlet-name>
        <url-pattern>/Router.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Nav</servlet-name>
        <url-pattern>/Nav.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agendamiento</servlet-name>
        <url-pattern>/Agendamiento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizar</servlet-name>
        <url-pattern>/Actualizar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agendar</servlet-name>
        <url-pattern>/Agendar.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
